.grid-container {
    width: 90%;
    margin:70px 0px 50px 50px;
    padding-top: 20px;
    min-height: 200px;
    display: grid;
    grid-template-columns:20% 20% 20% 20%;
    gap: 5%;
    row-gap: 55px;
    grid-template-rows: 350px;
    justify-content: start;
}